@media (max-width: 1560px) {
    .products-bottom {
        &__image {
            top: -70px;
            left: 20px;
            max-width: 80%;
            max-height: 80%;
        }
        &__info-left {
            margin-left: 235px;
            margin-right: 15px;
        }
        &__info-right {
            margin-left: 235px;
            margin-right: 15px;
        }
    }
}

@media (max-width: 1230px) {
    .top-slider {
        .wrapper {
            padding-top: 40px;
        }
        .slick-slide img {
            max-width: 50%;
        }
        .slick-dots {
            padding-bottom: 25px;
        }
        &__title {
            font-size: 55px;
            line-height: 60px;
            margin-bottom: 30px;
        }
    }
    .products-bottom {
        display: block;
        &__image {
            top: -50px;
        }
        &__item {
            height: 330px;
            max-width: 100%;
        }
        &__item+.products-bottom__item {
            margin-left: 0px;
        }
        &__info-left,
        &__info-right {
            padding-top: 55px;
            max-width: 100%;
        }
        &__item+.products-bottom__item {
            margin-top: 150px;
        }
    }
    .products__items {
        grid-template-columns: repeat(3, 1fr);
    }
    .new {
        &__item-title {
            width: 100%;
        }
        &__item-link {
            margin: 10px 20px 0;
        }
        &__item {
            background-position: bottom center;
        }
    }
    .blog {
        &__item {
            max-width: 325px;
        }
        &__item--news {
            .blog__item-text::before {
                top: 205px;
            }
        }
    }
}

@media (max-width: 1070px) {
    .header {
        .menu {
            &__list {
                background-color: #a3bbc8;
                transform: translateY(-200%);
                position: absolute;
                width: 100%;
                top: 120px;
                left: 0;
                flex-direction: column;
                align-items: center;
                padding: 0;
                z-index: 10;
                transition: all .3s;
                &.menu__list--active {
                    transition: all .3s;
                    transform: translateY(0%);
                }
            }
            &__list-item+.menu__list-item {
                padding-left: 0px;
            }
            &__list-item {
                width: 100%;
                text-align: center;
            }
            &__list-link {
                display: block;
                padding: 15px 0;
            }
        }
        &__inner {
            justify-content: space-around;
        }
        .nav-user__menu {
            display: block;
        }
    }
    .footer-top {
        flex-wrap: wrap;
        &__items-form {
            margin-top: 20px;
            max-width: 100%;
        }
    }
    .blog {
        &__item {
            max-width: 292px;
        }
        &__item--news {
            .blog__item-text::before {
                top: 180px;
            }
        }
    }
}

@media (max-width: 950px) {
    .footer-top {
        align-items: baseline;
        &__items-contact {
            width: 100%;
        }
        &__items-service,
        &__items-account {
            max-width: 150px;
        }
    }
    .footer-bottom {
        flex-wrap: wrap;
        justify-content: center;
        &__copy {
            width: 100%;
            text-align: center;
        }
    }
    .advantages__items {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        svg {
            margin-bottom: 10px;
        }
    }
    .advantages__container::before {
        left: 110px;
        top: -25px;
    }
    .products__items {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .new {
        &__items {
            min-height: 800px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        &__item {
            background-position: top center;
        }
    }
    .blog {
        &__items {
            display: block;
            margin: 0 auto;
            max-width: 372px;
        }
        &__item {
            max-width: 372px;
            margin-top: 50px;
        }
        &__item--news {
            .blog__item-text::before {
                top: 234px;
            }
        }
    }
    .blog-bottom {
        display: none;
    }
}

@media (max-width: 750px) {
    .advantages {
        flex-wrap: wrap;
        &__items {
            width: 100%;
            align-items: flex-start;
            padding-left: 10px;
            border: none;
        }
        &__container::before {
            left: 16px;
        }
    }
    .top-slider {
        &__item {
            justify-content: flex-start;
        }
        .slick-slide img {
            display: none;
        }
        &__title {
            font-size: 45px;
            line-height: 46px;
            margin-bottom: 25px;
            max-width: 100%;
        }
        &__text {
            max-width: 100%;
            margin-bottom: 30px;
        }
        .slick-dots {
            padding-top: 20px;
        }
        &__btn {
            margin: 0 auto;
        }
    }
    .products__items {
        display: block;
        margin-bottom: 0;
    }
    .products-item {
        max-width: 100%;
        &__img-box {
            margin: 0 auto;
        }
    }
    .products-item+.products-item {
        margin-top: 45px;
    }
    .products-bottom {
        display: none;
    }
    .new {
        &__items {
            display: block;
            max-width: 363px;
            margin: 0 auto;
        }
        &__item {
            height: 248px;
        }
        &__item+.new__item {
            margin-top: 50px;
        }
    }
    .blog {
        .title {
            margin-bottom: 20px;
        }
        &__top {
            display: block;
            text-align: center;
        }
    }
}

@media (max-width: 510px) {
    .header {
        &__inner {
            flex-direction: column;
            padding: 25px 0;
        }
        .nav-user {
            margin-top: 25px;
        }
        .menu__list {
            margin-top: 40px;
        }
    }
    .top-slider {
        &__title {
            font-size: 40px;
            line-height: 42px;
        }
    }
    .products {
        .title {
            margin-bottom: 18px;
        }
        &__menu-item+.products__menu-item {
            margin-left: 10px;
        }
        &__menu-link {
            font-size: 15px;
        }
    }
    .new {
        .title {
            margin-bottom: 18px;
        }
        &__menu-item+.new__menu-item {
            margin-left: 10px;
        }
        &__menu-link {
            font-size: 15px;
        }
    }
    .blog {
        &__item {
            max-width: 320px;
        }
        &__item-textlink {
            font-size: 14px;
        }
        &__item-text {
            margin: 20px 15px 0;
        }
        &__item--news {
            .blog__item-text::before {
                top: 170px;
            }
        }
        &__items {
            max-width: 273px;
        }
    }
}