@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
.header {
    &__inner {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item+.menu__list-item {
        padding-left: 35px;
    }
    &__list-link {
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: #436372;
    }
}

.nav-user {
    display: flex;
    &__menu {
        margin-left: 20px;
        background-color: #a3bbc8;
        padding: 12px;
        border-radius: 50%;
    }
    &__seach {
        background-color: #edf1f4;
        border-radius: 50%;
        padding: 15px;
    }
}

.nav-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 178px;
    margin-left: 20px;
    background-color: $accent;
    border-radius: 20px;
    &__link {
        position: relative;
    }
    &__nam {
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border-radius: 50%;
        top: -8px;
        right: -8px;
        color: $default;
        font-size: 10px;
        line-height: 16px;
        padding-left: 5px;
    }
    &__boredr {
        color: #fde7d3;
        font-size: 32px;
    }
}

.footer-top {
    padding: 80px 0 72px;
    background-color: #fff;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    &__items-contact {
        width: 240px;
        margin-right: 60px;
    }
    &__items-service,
    &__items-account {
        width: 270px;
        margin-right: 30px;
    }
    &__items-form {
        max-width: 270px;
    }
    &__logo {
        display: block;
        margin-bottom: 25px;
    }
    &__adress {
        display: block;
        color: $footer;
        margin-bottom: 25px;
    }
    &__phone {
        display: block;
        color: $footer;
        margin-bottom: 25px;
    }
    &__mail {
        display: block;
        color: $footer;
        margin-bottom: 25px;
    }
    &__title {
        @extend %dmsans-700;
        color: #1f2044;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-top: 16px;
    }
    &__link {
        color: $footer;
        line-height: 32px;
    }
    &__text {
        margin-bottom: 35px;
    }
    &__form-input {
        max-width: 170px;
        width: 100%;
        background-color: #fef7f0;
        border: none;
        padding: 12px 15px;
        &::placeholder {
            color: #234969;
            font-size: 12px;
        }
    }
    &__form-btn {
        background-color: #a3bbc8;
        border: none;
        color: #fff;
        font-size: 14px;
        padding: 12px 15px;
        cursor: pointer;
    }
}

.footer-bottom {
    height: 90px;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu-list {
        display: flex;
    }
    &__menu-item+.footer-bottom__menu-item {
        padding-left: 15px;
        margin-left: 14px;
        border-left: 1px solid #7b7b7b;
    }
    &__menu-link {
        color: $footer;
    }
}

.top-slider {
    .wrapper {
        background-color: $accent;
        padding-top: 97px;
    }
    &__title {
        font-size: 72px;
        line-height: 70px;
        @extend %rubik-500;
        max-width: 415px;
        margin-bottom: 40px;
    }
    &__text {
        max-width: 389px;
        color: #436372;
        font-size: 18px;
        line-height: 30px;
        @extend %rubik-400;
        margin-bottom: 40px;
    }
    &__btn {
        background-color: #a3bbc8;
        padding: 24px 17px 24px 25px;
        max-width: 200px;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        font-size: 15px;
        line-height: 12px;
        @extend %rubik-500;
        color: #fff;
    }
    &__item {
        display: flex !important;
        justify-content: space-around;
        align-items: center;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        li {
            button {
                border: none;
                background-color: #fde3cc;
                border-radius: 50%;
                color: $default;
                font-size: 11px;
                line-height: 11px;
                @extend %rubik-500;
                width: 30px;
                height: 30px;
            }
            &.slick-active {
                button {
                    background-color: #fff;
                }
            }
        }
        li+li {
            margin-left: 12px;
        }
    }
}

@import 'media';